<!DOCTYPE html>
<html>
<body>
<%include index.ejs %>
<p><h2>Click the button to get your coordinates (Latitude and Longitude).</h2></p>

<button onclick="getLocation()">Coordinates</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "<h4>Latitude: " + position.coords.latitude + 
    "<br><h4>Longitude: " + position.coords.longitude;
}
</script>

</body>
</html>
